$main-color: rgba(46, 26, 102, 0.821);
$main-too-color: rgba(67, 33, 81, 0.921);
$secondary-color: #8e2121b8;
$secondary-color-hover: #c91f1fb8;
$white-smooth: #fcfbfb;
$dark-smooth: #090909;
$dark-smooth-hover: rgb(51, 43, 43);


$smooth-transition-gradient: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.7));

// $my-gradient: 


$light-blue-gradient: linear-gradient(45deg, rgba(216, 96, 26, 0.65), rgba(75, 180, 241, 0.65));
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);
$blue-gradient-solid: linear-gradient(45deg, rgb(20, 105, 241), rgb(42, 10, 184));