$main-color: rgba(32, 202, 89, 0.405);
$main-color-text: rgba(32, 202, 89, 0.905);
$main-too-color: rgb(63, 58, 43);
$new-color: rgba(136, 102, 16, 0.9);
$new-color-hover: rgba(31, 118, 206, 0.962);
$new-p-color: #ff0000dc;
$new-background: #eff4e8;
$new-background-hover: #ebf4eb;
$secondary-color: rgba(19, 128, 136, 0.708);
$secondary-color-hover: #c91f1fb8;
$white-smooth: #fcfbfb;
$dark-smooth: #090909;
$dark-smooth-hover: rgb(51, 43, 43);

$smooth-transition-gradient: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 0),
  rgba(255, 255, 255, 0.7)
);

// $my-gradient:

$light-blue-gradient: linear-gradient(
  45deg,
  rgba(216, 178, 26, 0.65),
  rgba(75, 180, 241, 0.65)
);
$light-blue-gradient-solid: radial-gradient(
  circle at top right,
  rgb(0, 78, 255) 0%,
  rgb(0, 212, 255) 100%
);
$blue-gradient-solid: linear-gradient(
  45deg,
  rgb(20, 105, 241),
  rgb(42, 10, 184)
);
