@import "../../styles/colors";

.contactSection {
  // position: relative;
  display: grid;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  // padding-top: 6rem;
  height: 90vh;
  background-color: $new-background;
  max-width: 1400px;
  margin: 0 auto;
  // margin-left: auto;
  // margin-right: auto;
  padding-top: 10vh;
  color: $new-color;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(
      to right bottom,
      rgba(151, 80, 67, 0.7),
      rgba(0, 0, 0, 0.3)
    );
    z-index: 1;
  }

  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }

  .contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $dark-smooth;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    box-shadow: 2px 2px 2px rgba(2, 100, 18, 0.2);
    background-color: $main-color;
    padding: 1rem;
    width: 100%;
    border-radius: 0.6rem;

    p {
      margin-bottom: 0.5rem;
    }
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid black;
    // border-left: 3px solid black;
    box-shadow: 2px 2px 2px rgba(51, 170, 87, 0.2);
    background-color: $main-color;
    min-width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    max-width: 100%;
    border-radius: 0.6rem;

    // width: min(90%,400px);
    // width: 100%;

    &__header {
      display: flex;
      align-items: center;
      color: $dark-smooth;
    }

    input,
    textarea {
      padding: 0.5rem;
      margin-bottom: 1rem;
      min-width: 100%;
      max-width: 100%;
      border-radius: 1rem;
      border: 1px solid black;
    }
  }
}

.contactInfo,
.contactForm,
.textMe {
  z-index: 2; // Upewnij się, że są na wierzchu tła
  position: relative; // z-index działa tylko na elementach pozycjonowanych
}

.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #40b3a2;
  min-width: 10rem;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 1.6rem 2.6rem;
  margin-top: 1rem;
  color: $dark-smooth;
  font-weight: bold;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.95;
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1),
      0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1),
      0 0 0 80px rgba(255, 255, 255, 0);
  }
}

.textMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: $new-color;
  background-color: $white-smooth;
}

@media (min-width: 768px) {
  .contactSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    width: 100%; // Dodaj szerokość dla sekcji
    margin: 0 auto; // Wyśrodkuj sekcję
    margin-left: auto;
    margin-right: auto;
    padding-top: 15vh;

    h2 {
      margin-bottom: 1rem;
      text-align: center;
    }

    .contactInfo {
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 10%;

      p {
        margin-bottom: 0.5rem;
      }
    }

    .contactForm {
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: min(90%, 400px);
      margin-bottom: 0;

      input,
      textarea {
        padding: 0.6rem;
        margin-bottom: 1rem;
        min-width: 100%;
        max-width: 100%;
        border-radius: 1rem;
        border: 1px solid black;
      }
    }
  }

  .textMe {
    font-size: 2rem;
  }

  .btn {
    font-size: 1.8rem;
  }
}
