@import "../../styles/mixins";

.courses {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  padding-top: 2rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(
      to right bottom,
      rgba(82, 140, 234, 0.7),
      rgba(0, 0, 0, 0.3)
    );
    z-index: 1;
  }

  &Background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; // Upewnij się, że tło jest za treścią
  }

  &__text {
    padding: 1rem;
    text-align: center;
    color: $new-p-color;
  }

  &__btn {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
    background-color: $new-background-hover;
    color: $white-smooth;
    cursor: pointer;

    &:hover {
      background-color: $dark-smooth-hover;
    }
  }

  &__img {
    padding-top: 1rem;
    max-width: 100%;
    border-radius: 2rem;
    transition: transform 0.3s;

    &:hover {
      transform: scale(0.9);
    }
  }

  &Content {
    z-index: 1; // Treść nad tłem
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  @media (min-width: 768px) {
    &Content {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  }
}

.singleCourse {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  border-radius: 10px;
}

.coursesContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .courses {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .courses__container {
    display: flex;
    justify-content: center; // Ustawia kursy obok siebie w poziomie
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
  }

  .coursesContent {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
