@import "../../styles/colors";

.aboutMe {
  background-color: $new-background;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;

  &__boxText {
    // text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.9); // Półprzezroczyste białe tło
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    @media (min-width: 992px) {
      margin-right: 2rem;
    }
  }

  &__info {
    font-family: "Alkatra";
    font-size: 1.4rem;
    color: $main-too-color;
    padding: 2rem;
    margin: 0 auto;
  }
  &__img {
    max-width: 100%;
    // height: auto;
    padding: 1rem 1rem;
    border-radius: 2rem;
  }

  // &__btn {
  //   // font-family: "Alkatra";
  //   display: inline-block;
  //   // width: auto;
  //   // text-align: center;
  //   margin: 0 auto;
  //   padding: 1rem 1.6rem;
  //   font-size: 1.4rem;
  //   transition: background-color 0.3s;
  //   border-radius: 0.6rem;
  //   // opacity: 0.6;
  //   color: $white-smooth;
  //   background-color: $new-p-color;
  //   box-shadow: 0.4rem 0.6rem 0.8rem;
  //   // border: none;
  //   transition: 0.5s;
  //   text-decoration: none;

  //   &:hover {
  //     box-shadow: 0.3rem 0.4rem 0 0 rgba(175, 132, 23, 0.8),
  //       inset 0.8rem 0.4rem 0.8rem rgba(167, 99, 10, 0.711);
  //   }
  // }
}

.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #d70d0d;
  min-width: 10rem;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 1.6rem 2.6rem;
  margin-top: 1rem;
  color: $dark-smooth;
  font-weight: bold;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.95;
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1),
      0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1),
      0 0 0 80px rgba(255, 255, 255, 0);
  }
}

.aboutMe__img img {
  object-fit: cover;
  // height: 100%; // zajmuje 100% dostępnej wysokości kontenera
}

// .aboutMe, .aboutMe * {
//     border: 1px solid red; // Tylko do celów diagnostycznych
// }

.sectionHeading {
  font-size: 2rem;
  text-align: center;
  color: $main-color-text;
  padding: 1rem;
}

.links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  a {
    color: $dark-smooth;
    font-size: 1.5rem;
    transition: color 0.3s;

    &:hover {
      color: $main-color;
    }
  }
}

@media (min-width: 768px) {
  .aboutMe {
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    &__img {
      width: 30rem; // Przykładowa wartość
      max-width: none;
      margin-left: 2rem;
    }

    &__boxText {
      flex-direction: column;
    }

    &__info {
      font-size: 1.8rem;
      margin-right: 1rem;
    }

    &__btn {
      font-size: 2rem;
      padding: 1rem 2.2rem;
    }
  }

  .sectionHeading {
    font-size: 2.6rem;
    text-align: center;
    margin-right: 1rem;
  }
}
