@import "../../styles/colors";

.contactMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $new-background;

  &__header {
    text-align: center;
    padding: 1rem;
    color: $white-smooth;
  }

  &__text {
    font-size: 1.8rem;
    padding: 1rem;
    color: $white-smooth;
  }

  &__btn {
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: $white-smooth;
    color: $dark-smooth;

    &:hover {
      background-color: $new-p-color;
    }
  }

  @media (min-width: 992px) {
    &__header {
      font-size: 2.8rem;
    }
    &__text {
      font-size: 2.6rem;
    }
    &__btn {
      font-size: 2.2rem;
    }
  }
}
