.burger {
	position: fixed;
	top: 2rem;
	right: 2rem;
	transform: translateY(-50%);
	z-index: 500;
	font-size: 1.5rem;
	background: transparent;
	border: none;
	cursor: pointer;
	color: red;
	transition: all 0.3s ease;
}



.spin {
	transform-origin: center;
	transform: rotate(180deg);
	transition: transform 0.3s ease-in-out;
}

.shopButton {
	position: fixed;
	top: 1rem;
	right: 4rem;
	/* z-index: 500; */
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
	display: flex;
	left: 2rem;
}

.rightIcons {
	position: fixed;
	top: 1.4rem;
	right: 5rem;
	display: flex;
	gap: 1rem;
	z-index: 500;
}

@media only screen and (min-width: 501px) {
	

	.burger {
		font-size: 2rem;
		justify-content: center;
	}
}

@media only screen and (min-width: 992px) {
	

	.burger {
		display: none; /* ukryj przycisk burgera */
	}
}
