.rightIcons {
  position: fixed;
  right: 7rem;
}

.mobileIcons {
  right: 60px;
  transform: translateY(-50%);
  display: none;

  @media (max-width: 992px) {
    display: flex;
  }
}

.rightIcons {
  @media (max-width: 991px) {
    display: none;
  }
}

@media (min-width: 992px) {
  .rightIcons {
    display: none;
    align-items: center;
    justify-content: center;
    right: 10rem;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
  }
}
