@import '../../styles/_colors.scss';

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

.overlay.overlay {
    display: block;
}

.nav {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	/* width: 100%; */
	background-color: $secondary-color;
	z-index: 400;
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
}

.nav.show {
    top: 5rem; 
    transform: translateX(0);
    width: 100%;
    max-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
	/* overflow-y: auto; */
}

.nav.desktop {
	transform: translateX(0); 
	/* ... pozostałe style dla dużych ekranów */
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    /* height: auto; ustawia wysokość na auto */
    /* width: 100%; pozwala na pełne wykorzystanie dostępnej szerokości */
	padding: 1rem 0;
}

.nav ul li {
    margin: 1rem 0; /* dodaje marginesy na górze i na dole każdego elementu li, przesuwając je w dół */
    color: white;
}



@media only screen and (min-width: 501px) {
	.nav {
		width: 20%;
	}

}

@media only screen and (min-width: 992px) {
	.nav {
		transform: translateX(100%);
		width: 100%;
		height: auto; 
		/* background-color: transparent; lub dowolny kolor, który chcesz */
		flex-direction: row;
		align-items: center;
		position: static; /* zamiast fixed */
	}

	.nav ul {
		flex-direction: row;
		margin: 0;
		padding: 0;
	}

	.nav ul li {
		margin-top: 1.6rem; 
		margin-right: 2rem;
	}

}