@import "../../styles/_colors.scss";

.nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  text-align: center;
  /* width: 100%; */
  background-color: rgba($secondary-color-hover, 0.7);
  z-index: 400;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  &__show {
    top: 6rem;
    transform: translateX(0);
    min-width: 100%;
    max-height: 100%;
    display: flex;
    // flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    //  overflow-y: auto;
    z-index: 100;
    // font-weight: bold;
    // background-color: red;
  }

  &__desktop {
    transform: translateX(0);
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 1rem 0;
  }
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 0;
  // z-index: 100;
}

.nav ul li {
  padding: 1rem;
  text-align: center;
  color: $white-smooth;
}

.four {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 991px) {
  .nav {
    &__show {
      transform: translateX(0);
      min-width: 100%;
      max-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      ul {
        li {
          border: 2px solid rgb(191, 11, 11);
          box-shadow: 2px 2px 2px 2px solid rgb(177, 22, 22);
          background: $dark-smooth;
          width: 100%;
          margin: 1rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .nav {
    height: 6.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: none;
    left: 0;
    top: 0;
    background-color: $new-background;
    // margin-top: 0;
    opacity: 0.9;
    z-index: 1000;

    &::before,
    &::after {
      transition: 0.3s;
    }

    &__items {
      margin: 0 1rem;
      font-size: 1.8rem;
      color: $white-smooth;

      &:hover::before,
      &:hover::after {
        display: none;
      }
    }
  }

  .nav ul li {
    padding: 1rem 1rem;
  }

  .four:hover .dropdown li {
    animation: menu4 0.5s forwards;
    transform-origin: top;
  }

  .menuItem {
    position: relative;
    display: inline-block;
    width: 8.4rem;
    // line-height: 10rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $new-background;
    }
  }

  .dropdown {
    position: absolute;
    flex-direction: column;
    left: 0;
    right: 0; // Ensure it stretches across the parent width
    top: 100%; // This makes the dropdown start right after the parent ends
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -1rem;
    // width: 5rem;
    // top: 100%;
    padding: 1rem;

    li {
      // display: block;
      // height: 10rem;
      min-width: 100%;
      opacity: 0;
      background-color: $new-background;
      transition: color 0.3s;
      // margin: 0;
      line-height: normal;
      padding: 1rem;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border: none;

      &:hover {
        color: $new-color;
      }
    }
  }

  .menuItem:hover .dropdown li {
    display: inline-block;
    animation: menu4 0.5s forwards;
  }

  .menuItem:hover .dropdown li:nth-child(2) {
    animation-delay: 0.2s;
  }
  .menuItem:hover .dropdown li:nth-child(3) {
    animation-delay: 0.4s;
  }

  .menu {
    flex-direction: row;
  }

  // flexible-grid

  @keyframes menu4 {
    from {
      opacity: 0;
      transform: scale(0.8) translateY(-1px);
    }

    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
}
